extends layout

block content
  .row.page-header
    .col-lg-12
        h1= pageHeader.title
  .row
    .col-xs-12.col-sm-6
      .row
        .panel.panel-primary
          .panel-heading
            h2.panel-title Current Details
          .panel-body
            p.cardnumber Cardnumber #{cardNumber}
            p.points Points #{points}
            .row
              .col-xs-12.col-sm-6
                form.form-horizontal(action="/cards/#{cardNumber}", method="post", role ="form")
                  .form-group
                    .col-xs-5.col-sm-5
                        input#points.form-control(name="points") 
                    .col-xs-6.col-sm-6
                        button.btn.btn-default.pull-right Add or Redeem Points
            
    .col-xs-12.col-sm-6
        .panel.panel-primary
          .panel-heading
            h2.panel-title QR Code
          .panel-body
            #qrcode.well.well-sm.col-centred.row-centred
            script.
              new QRCode(document.getElementById("qrcode"), {text: #{cardNumber}, width: 101, height:101});
              
    .row
      .col-xs-12
        .panel.panel-primary.history-panel
          .panel-heading
            h2.panel-title Points History
          .panel-body.history-container
            each item in historys
              .col-xs-12.list-group-item
                .row
                  small.historyTimestamp #{item.date} &nbsp;
                  small.points #{item.points}

                  

            

