include _includes/sharedHTMLfunctions

extends layout

block content
  .row.page-header
    .col-lg-12
        h1= pageHeader.title
  .row
    .col-xs-12.col-sm-6
      .row
        .panel.panel-primary
          .panel-heading
            h2.panel-title Current Details
          .panel-body
            p.cardnumber Cardnumber: #{cardNumber}
            p.points Current Points Total: #{points}
            p.row
            p.row
            .row
              .col-xs-12.col-sm-12
                form.form-horizontal(action="/cards/#{cardNumber}", method="post", role ="form")
                  .form-group
                    .col-xs-3.col-sm-3
                        input#points.form-control(name="points", placeholder="points")
                    .col-xs-1.col-sm-1
                    .col-xs-3.col-sm-3
                        button.btn.btn-success.pull-right Add or Redeem Points
            
    .col-xs-12.col-sm-6
        .panel.panel-primary
          .panel-heading
            h2.panel-title QR Code
          .panel-body
            #qrcode.well.well-sm.col-centred.row-centred
            script.
              new QRCode(document.getElementById("qrcode"), {text: #{cardNumber}, width: 100, height:100});
              
    .row
      .col-xs-12
        .panel.panel-primary.history-panel
          .panel-heading
            h2.panel-title Points History
          .panel-body.history-container
            each item in historys
              list-group-item
                .row
                  .col-xs-2.col-sm-2.small.historyTimestamp
                    +formatDate(item.date) &nbsp;
                  .col-xs-1.col-sm-1.small.points &nbsp; #{item.points}

                  

            

